.top-title {
	color: Red;
}

h1 {
	color: Black;
}

h4	{
	color: Red;
	text-align: center;
}

header {
	text-align: center;
}

nav.container {  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.item {
  padding: 10px;
  background-color: white;
  border: 1px solid rgba(192,192,192,0.3);
}

img {
  border: solid;
}