#header {
	text-align: center;
}

nav.container {  
  justify-content: center;
}

/*.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}*/

.item {
  padding: 15px;
  background-color: white;
  border: 1px solid rgba(192,192,192,0.3);
  text-align: center;
  overflow: visible;
}

.pre-title {
  color: Red;
  text-align: center;
}

h2 {
  color: Black;
  text-align: center;
}

.card-img {
  width: 100%;
  height: 349px;
  opacity: .6;  
}

.card-img-overlay {
  padding-top: 150px;
  padding-right: 200px;
}

button {
  background-color: white;
}

.card-title {
  text-align: start;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

#button-container {
  text-align: center;
}


/*// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/